.intro-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.social-button {
    margin-top: 10px;
}

.about h2, .about h3 {
    text-align: center;
}

.contact-confirm {
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact-form {
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 20px;    
    text-align: center;
}

tr.separator > td {
    border-top-width: 2px !important;
}

td.indented {
    padding-left: 20px !important;
}