<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>entriesPerPage</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>bucket</param-name>
        <param-value>gaecms-demo.appspot.com</param-value>
    </context-param>
    <context-param>
        <param-name>staging-bucket</param-name>
        <param-value>staging.gaecms-demo.appspot.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>de.hepisec.gaecms.servlet.Blog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/page/*</url-pattern>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Comments</servlet-name>
        <servlet-class>de.hepisec.gaecms.servlet.Comments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Comments</servlet-name>
        <url-pattern>/Comments</url-pattern>
        <url-pattern>/articles/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Write</servlet-name>
        <servlet-class>de.hepisec.gaecms.servlet.Write</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Write</servlet-name>
        <url-pattern>/admin/Write</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>de.hepisec.gaecms.servlet.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/admin/Delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadMediaFile</servlet-name>
        <servlet-class>de.hepisec.gaecms.servlet.UploadMediaFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadMediaFile</servlet-name>
        <url-pattern>/admin/UploadMediaFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MediaLibrary</servlet-name>
        <servlet-class>de.hepisec.gaecms.servlet.MediaLibrary</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MediaLibrary</servlet-name>
        <url-pattern>/admin/MediaLibrary</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>DEBUG</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>de.hepisec.gaecms.ObjectifyHelper</listener-class>
    </listener>
    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
    </listener>
    <context-param>
        <param-name>Owasp.CsrfGuard.Config</param-name>
        <param-value>WEB-INF/csrfguard.properties</param-value>
    </context-param>
    <context-param>
        <param-name>Owasp.CsrfGuard.Config.Print</param-name>
        <param-value>false</param-value>
    </context-param>    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
